<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Listado de productos (<%=@product_count%>)</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <%@products.each do |product|%>
            <div class="col d-flex align-items-start">
            <i class="fas fa-angle-double-right fa-2x text-info"></i>
                <div>
                    <h4 class="fw-bold mb-0"><%=link_to product.name, "/products/#{product.id}"%></h4>
                    <p><%=product.description%></p>
                </div>
            </div>
        <%end%>
    </div>
    <%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
</div>