<div class="card" >
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title"><%=@product.name%></h5>
    <p class="card-text"><%=@product.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <%@product.variants.each do |variant|%>
        <li class="list-group-item"><%=variant.name%><span class="badge rounded-pill bg-success float-end">$<%=variant.price%></span></li>
    <%end%>
  </ul>
</div>
<%=link_to "Productos", "/", class: "btn btn-primary mt-3"%>