<h1>Historial cargas (<%=@load_history.count%>)</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Identificador</th>
      <th scope="col">Creado</th>
      <th scope="col">Total de registros</th>
      <th scope="col">Total de cargados</th>
      <th scope="col">Total de fallados</th>
      <th scope="col">Estatus</th>
    </tr>
  </thead>
  <tbody>
    <%@load_history.each do |lh|%>
        <tr>
            <th scope="row"><%=lh.id%> </th>
            <td><%=lh.created_at.strftime("%d/%m/%Y %H:%M:%S")%></td>
            <td><%=lh.products%></td>
            <td><%=lh.products.to_i-lh.failed%></td>
            <td><%=lh.failed%></td>
            <td><%=lh.status%></td>
        </tr>
    <%end%>
  </tbody>
</table>