<!DOCTYPE html>
<html>
  <head>
    <title>ViveTech</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4 text-primary">Vivetech</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-info" href="/admin">Historial</a>
        </nav>
      </div>
    </header>
    
    <%= yield %>
    <p class="mt-5 mb-3 text-muted">© 2021–<%=Time.now().strftime("%Y")%></p>
  </body>
</html>
